<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  
  <script src="/assets/js/main.js"></script>
  <body>
    <header>
      <a href="/" class="logo">
        Speakout
      </a>
    </header>
    <main>
      <%- body %>
    </main>
  </body>
</html>
